{% extends "notifier/base.html" %}
{% block title %}<title>Stock Notificaton Request</title> {% endblock %}
{% block custom_head %}
    <style>
        .request-form{
            list-style: none;
        }
    </style>
{% endblock %}
{% block content %}
    <h1>Dell Outlet Stock Notifier</h1>
    <p>
        This service will notify you when your chosen model of Dell laptop comes in stock on the <a href="http://www.dell.com/learn/uk/en/ukdfh1/campaigns/splitter">Dell Outlet website</a>.
    </p>
    <p>
        For an overview of current stock, please visit the <a href="/status">stock status page</a>.
    </p>
    <p>
        Please note that for the time being, <b>this service only works on the UK Dell Outlet</b>. Given demand, I would gladly add support for other countries.
    </p>
    <div>
        <form class="request-form" action="/" method="post">
            {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
            <input type="submit" value="Submit" />
        </form>
    </div>
{% endblock %}